* {
    margin: 0;
    padding: 0;
}
.navigation {
    background-color: aliceblue;

}
.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    padding: 1%;
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10%;
}
li {
    list-style-type: none;
    padding-right: 10%;
    font-size: 18px;
}